
.background-color {
  /* background-color: lightgray; */
  background-image: url("../images/cute_cars_blue.gif");
}
.text-headers{
  padding: 230px;
  border: dotted;
  margin-top: 5%;
}
.guess{
  list-style: none;
  display:inline-block;
  margin-right: 15px;
}
#my-word{
padding: 0;
}