
.background-color {
  background-color: #A3D3DB;
  /* background-image: url("../images/cute_cars_blue.gif"); */
}
.text-headers{
  border: dotted;
  margin-top: 5%;
  margin-bottom: 5%;
  height: 80vh;
  text-align: center;
  padding-top: 10%;
}
.guess{
  list-style: none;
  display:inline-block;
  margin-right: 15px;
}
#my-word{
padding: 0;
}